body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Trebuchet MS', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  color: #ece2c7;
  background-color: #0f1014;
}

a {
  color: inherit;
}

#app {
  min-height: 100vh;
}
